@{
    ViewData["Title"] = "Contact";
}
<footer>
    <div>
        <p class="mb-2"><small>COPYRIGHT © 2019. ALL RIGHTS RESERVED. <a href="https://exoshop.nl/">ExoShop</a></small></p>
    </div>
</footer>

