@{
    ViewData["Title"] = "Home Page";
}
<header class="bg-gradient" id="home">
    <div class="container mt-5">
        <h1>ExoShop</h1>
        <p class="tagline">De winkel van ons allemaal</p>
    </div>
</header>
