@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Our privacy policy applies to information we collect when you use or access ExoShop, a by ExoShop provided service, or just interact with us. <br />
    We may change this privacy policy from time to time. <br />
    Whenever we make changes to this privacy policy, the changes are effective one week after we post the revised privacy policy (as indicated by revising the date at the bottom of our privacy policy). <br />
    We encourage you to review our privacy policy whenever you access our services to stay informed about our information practices and the ways you can help protect your privacy. <br />

    <h3>Collection of Information</h3>
    <h4>Information You Provide to Us</h4>
    We collect information you provide directly to us. <br />
    For example, we collect information when you participate in any interactive features of our services, <br />
    fill out a form, request customer support, provide any contact or identifying information or otherwise communicate with us. <br />
    The types of information we may collect include your name, email address, postal address, credit card information and other contact or identifying information you choose to provide. <br />
    <br />
    <h3>Use of Information</h3>
    <h4>We use information about you for various purposes, including to:</h4>
    Provide, maintain and improve our services;<br />
    Provide services you request, process transactions and to send you related information;<br />
    Send you technical notices, updates, security alerts and support and administrative messages;<br />
    Respond to your comments, questions and requests and provide customer service;<br />
    Communicate with you about news and information related to our service;<br />
    Monitor and analyze trends, usage and activities in connection with our services and personalize and improve our services.<br />
    <br />
    By accessing and using our services, you consent to the processing and transfer of your information in and to the Netherlands and other countries.<br />
    <br />
    <h4>Last Updated: 20/01/2020<br /></h4>
</p>
