
@{
    ViewData["Title"] = "Terms of Service";
}

<h1>@ViewData["Title"]</h1>
<p>
    These terms of service (“Terms”) apply to your access and use of ExoShop and all of the by ExoShop provided services (the “Service”).<br />
    Please read them carefully.<br />

    <br />
    <h3>General terms</h3>
    We will provide services to you, which are subject to the conditions stated below in this document. <br />
    Every time you visit this website, use its services or make a purchase, you accept the following conditions.<br />
    This is why we urge you to read them carefully.<br />

    <br />
    <h3>Privacy Policy</h3>
    Before you continue using our website or services we advise you to read our privacy policy regarding our user data collection.<br />
    It will help you better understand our practices.<br />

    <br />
    <h3>Copyright</h3>
    Content published on this website (digital downloads, images, texts, graphics, logos) is the property of ExoShop and/or its content creators and protected by international copyright laws. <br />
    The entire compilation of the content found on this website is the exclusive property of ExoShop, with copyright authorship for this compilation by ExoShop.<br />

    <br />
    <h3> Applicable Law</h3>
    By visiting this website, you agree that the laws of the Netherlands (Europe), <br />
    without regard to principles of conflict laws, will govern these terms of service, <br />
    or any dispute of any sort that might come between ExoShop and you, or its business partners and associates.<br />

    <br />
    <h3>User Account</h3>
    If you are an owner of an account on this website, you are solely responsible for maintaining the confidentiality of your private user details (email, username, license keys and password). <br />
    You are responsible for all activities that occur under your account or password. <br />
    We reserve all rights to terminate accounts, edit or remove content and cancel orders in their sole discretion.<br />

    <br />
    <h3>External links disclaimer</h3>

    The website may contain links to external websites that are not provided or maintained by or in any way affiliated with ExoShop.<br />
    Please note that ExoShop does not guarantee the accuracy, relevance, timeliness, or completeness of any information on these external websites.<br />
    Thank you for reading our Terms of Service and don’t forget to read our Privacy Policy.<br />

    <br />
    <h4>Last Updated: 20/01/2020<br /></h4>
</p>

