@model GeoChatting.Models.LoginViewModel
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Sign in</title>
    <link rel="stylesheet" href="" />
</head>
<body>
    <div class="row">
        <div class="col-md-4">
            <h4>Log in</h4>
            <section>
                <form asp-action="SignIn">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="mainBtn">Log in</button>
                        <a asp-action="SignUp">Register as a new user?</a>
                    </div>
                </form>
            </section>
        </div>
    </div>
</body>

